* {
    margin: 0;
    padding: 0;
}

.mainWindow {
    display: grid;
    position: relative;
}


.banner {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 45%;
    margin-left: 1%;
    font-family: 'Raleway ExtraLight', serif;
}

.title span:nth-child(1) {
    text-transform: uppercase;
    color: white;
    font-size: 75px;
}

.title span:nth-child(3) {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}

.title span:nth-child(5) {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.Fon img {
    width: 100%;
}

.formCont {
    display: grid;
}

.add span {
    align-self: center;
}

.authorization {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
    justify-self: center;
    width: 935px;
    height: 200px;
    margin-top: 20%;
}

.titAuto {
    align-self: center;
}

.titAuto {
    display: grid;
    font-size: 35px;
    height: 50px;
    padding-left: 50px;
    align-items: center;
    background-color: #9c9c9c;
    text-transform: uppercase;
    font-family: 'Raleway Medium', serif;
}

.titLog span {
    align-self: center;
}

.titLog {
    display: grid;
    font-size: 35px;
    padding-left: 50px;
    height: 100px;
    color: white;
    background-color: #181818;
    text-transform: uppercase;
    font-family: 'Raleway ExtraLight', serif;
}

.titPass span {
    align-self: center;
}

.titPass {
    display: grid;
    font-size: 35px;
    padding-left: 50px;
    height: 100px;
    color: white;
    background-color: #181818;
    text-transform: uppercase;
    font-family: 'Raleway ExtraLight', serif;
}


.add {
    padding-left: 50px;
    display: grid;
    color: white;
    grid-template-columns: repeat(1, 2fr 1fr);
    background-color: #181818;
    text-transform: uppercase;
    font-family: 'Raleway ExtraLight', serif;
}

.mainFooter {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 140%;
}

.add button {
    color: white;
    border: none;
    height: 100px;
    background-color: #181818;
    text-transform: uppercase;
}

input {
    font-size: 55px;
    padding-left: 50px;
    width: 450px;
    height: 90px;
    border: none;
    color: white;
    background-color: #000000;
    text-transform: uppercase;
    font-family: 'Raleway Medium', serif;
}

