.tabac {
    background-color: black;
    padding-left: 55px;
}

.headTabac {
    display: grid;
    padding-top: 80px;
    grid-template-columns: repeat(1, 1fr 1fr);
    font-family: "Raleway Medium", serif;
}

.TabacWrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    margin-bottom: 85px;
}

.colorTabacText {
    font-family: "DINPro-Medium", serif;
    color: #d39c40;
    font-size: 50px;
    text-transform: uppercase;
}

.TabacSp1 {
    font-family: "DINPro", serif;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.TabacSp2 {
    font-family: "DINPro-Light", serif;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
}

.headTabacImg {
    text-align: right;
    margin-right: 80px;
}

.menuTabac {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr);
    grid-auto-rows: minmax(65px, auto);
    grid-gap: 5px;
}

.menuTabac a {
    text-decoration: blink;
    align-self: center;
    text-align: center;
    font-size: 35px;
    font-family: DINPro-CondensedRegular, serif;
    color: white;
    text-transform: uppercase;
    background-color: #6f6e6e;
}

.menuTabac a.active {
    background-color: #e2e393;
}

.footerPageTabac {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr 1fr);
    grid-auto-rows: minmax(80px, auto);
    background-color: #e2e393;
    margin-top: 10px;
}

.footerButtonTabac1 {
    border: medium none;
    background: transparent none;
}

.footerButtonTabac1 img {
    padding-left: 40px;
}

.footerButtonTabac1 span {
    padding-left: 25px;
    font-family: DINPro-Bold, serif;
    font-size: 30px;
    text-transform: uppercase;
}

.footerSpanTabac1 {
    display: grid;
}

.footerSpanTabac1 span {
    align-self: center;
    padding-left: 20px;
    font-family: DINPro-Light, serif;
    font-size: 25px;
    text-transform: uppercase;
}

.footerButtonTabac2 {
    border: medium none;
    background: transparent none;
}

.footerButtonTabac2 span {
    padding-left: 25px;
    font-family: DINPro-Bold, serif;
    font-size: 30px;
    text-transform: uppercase;
}

.footerSettingTabac {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-auto-rows: minmax(90px, auto);
    margin-top: 15px;
    grid-gap: 5px;
}

.footerEmptyDiv {
    background-color: #464646;
}

.footerEmptyDiv span {
    visibility: hidden;
}

.footerSettingSpanTabac {
    display: grid;
    background-color: #e2e393;
}

.footerSettingSpanTabac span {
    font-family: DINPro-CondensedRegular, serif;
    font-size: 55px;
    color: black;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
}



.footerSettingTabac a {
    display: grid;
    text-decoration: blink;
    background-color: #bb0343;

}

.footerSettingButtonTabac {
    border: medium none;
    background: transparent none;
}

.footerSettingButtonTabac span {
    font-family: DINPro-CondensedRegular, serif;
    font-size: 55px;
    color: white;
    text-transform: uppercase;
}

.footerTextTabac p {
    font-family: DINPro, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    margin-top: 50px;
    padding-bottom: 60px;
}

.contentTabac {
    width: 500px;
    height: 500px;
    background-color: #9d00ff;
}
