@font-face {
    font-family: 'Raleway ExtraLight';
    src: url('Raleway-ExtraLight.eot');
    src: url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraLight.woff') format('woff'),
        url('Raleway-ExtraLight.ttf') format('truetype'),
        url('Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('Raleway-Medium.eot');
    src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Medium.woff') format('woff'),
    url('Raleway-Medium.ttf') format('truetype'),
    url('Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


