.history {
    background-color: black;
    padding-left: 55px;
}

.headHistory {
    display: grid;
    padding-top: 80px;
    grid-template-columns: repeat(1, 1fr 1fr);
    font-family: "Raleway Medium", serif;
}

.HistoryWrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    margin-bottom: 85px;
}

.colorHistoryText {
    font-family: "DINPro-Medium", serif;
    color: #d39c40;
    font-size: 50px;
    text-transform: uppercase;
}

.HistorySp1 {
    font-family: "DINPro", serif;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.HistorySp2 {
    font-family: "DINPro-Light", serif;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
}

.headHistoryImg {
    text-align: right;
    margin-right: 80px;
}

.menuHistory {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr);
    grid-auto-rows: minmax(65px, auto);
    grid-gap: 5px;
}

.menuHistory a {
    text-decoration: blink;
    align-self: center;
    text-align: center;
    font-size: 35px;
    font-family: DINPro-CondensedRegular, serif;
    color: white;
    text-transform: uppercase;
    background-color: #6f6e6e;
}

.menuHistory a.active {
    background-color: #f4acad;
}

.footerPageHistory {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr 1fr);
    grid-auto-rows: minmax(80px, auto);
    background-color: #f4acad;
    margin-top: 10px;
}

.footerButtonHistory1 {
    border: medium none;
    background: transparent none;
}

.footerButtonHistory1 img {
    padding-left: 40px;
}

.footerButtonHistory1 span {
    padding-left: 25px;
    font-family: DINPro-Bold, serif;
    font-size: 30px;
    text-transform: uppercase;
}

.footerSpanHistory1 {
    display: grid;
}

.footerSpanHistory1 span {
    align-self: center;
    padding-left: 20px;
    font-family: DINPro-Light, serif;
    font-size: 25px;
    text-transform: uppercase;
}

.footerButtonHistory2 {
    border: medium none;
    background: transparent none;
}

.footerButtonHistory2 span {
    padding-left: 25px;
    font-family: DINPro-Bold, serif;
    font-size: 30px;
    text-transform: uppercase;
}

.footerSettingHistory {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-auto-rows: minmax(90px, auto);
    margin-top: 15px;
    grid-gap: 5px;
}

.footerEmptyDiv {
    background-color: #464646;
}

.footerEmptyDiv span {
    visibility: hidden;
}

.footerSettingSpanHistory {
    display: grid;
    background-color: #f4acad;
}

.footerSettingSpanHistory span {
    font-family: DINPro-CondensedRegular, serif;
    font-size: 55px;
    color: black;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
}



.footerSettingHistory a {
    display: grid;
    text-decoration: blink;
    background-color: #bb0343;

}

.footerSettingButtonHistory {
    border: medium none;
    background: transparent none;
}

.footerSettingButtonHistory span {
    font-family: DINPro-CondensedRegular, serif;
    font-size: 55px;
    color: white;
    text-transform: uppercase;
}

.footerTextHistory p {
    font-family: DINPro, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    margin-top: 50px;
    padding-bottom: 60px;
}

.contentHistory {
    width: 500px;
    height: 500px;
    background-color: #0037ff;
}