input {
    font-size: 55px;
    padding-left: 50px;
    width: 100%;
    height: 90px;
    border: none;
    color: white;
    background-color: #000000;
    text-transform: uppercase;
    font-family: 'Raleway Medium', serif;
}

.mainWindow {
    display: grid;
    position: relative;
}

.Fon img {
    width: 100%;
}

.banner {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 45%;
    margin-left: 1%;
    font-family: 'Raleway ExtraLight', serif;
}

.title span:nth-child(1) {
    text-transform: uppercase;
    color: white;
    font-size: 75px;
}

.title span:nth-child(3) {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}

.title span:nth-child(5) {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.authorization {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(1, 935px);
    align-self: center;
    justify-self: center;
    height: 200px;
    margin-top: 20%;
}


.titAuth {
    display: grid;
    font-size: 35px;
    grid-auto-rows: minmax(50px, auto);
    padding-left: 50px;
    align-items: center;
    background-color: #9c9c9c;
    text-transform: uppercase;
    font-family: 'Raleway Medium', serif;
}

.titAuth {
    align-self: center;
}

.formCont {
    display: grid;
}

.titLog {
    display: grid;
    font-size: 35px;
    padding-left: 50px;
    grid-auto-rows: minmax(100px, auto);
    color: white;
    background-color: #181818;
    text-transform: uppercase;
    font-family: 'Raleway ExtraLight', serif;
}

.titPass {
    display: grid;
    font-size: 35px;
    padding-left: 50px;
    height: 100px;
    color: white;
    background-color: #181818;
    text-transform: uppercase;
    font-family: 'Raleway ExtraLight', serif;
}

.titLog span {
    align-self: center;
}

.titPass span {
    align-self: center;
}

.add {
    display: grid;
    color: white;
    grid-template-columns: repeat(1, 2fr 1fr);
    grid-auto-rows: minmax(180px, auto);
    background-color: #181818;
    font-family: 'Raleway ExtraLight', serif;
}

.add .b1  {
    padding-left: 50px;
    border: none;
    background-color: #181818;
    text-align: left;
    width: 300px;
    text-decoration: blink;
    color: white;
    font-size: 40px;
    font-family: "Raleway ExtraLight", serif;
}

.add .b2 {
    font-size: 35px;
    font-family: "Raleway ExtraLight", serif;
    align-self: center;
    color: white;
    border: none;
    height: 100px;
    background-color: #181818;
    text-transform: uppercase;
}

.mainFooter {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 140%;
}

@media screen and (max-width: 768px) {

    .Fon img {
        width: 100%;
    }

    .title span:nth-child(1) {
        text-transform: uppercase;
        color: white;
        font-size: 60px;
    }

    .title span:nth-child(3) {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
    }

    .title span:nth-child(5) {
        text-transform: uppercase;
        color: white;
        font-size: 10px;
    }

    .authorization {
        display: grid;
        position: absolute;
        grid-template-columns: repeat(1, 768px);
        align-self: center;
        justify-self: center;
        height: 200px;
        margin-top: 20%;
    }

    .mainFooter {
        display: none;
    }
}

@media screen and (max-width: 425px) {

    .Fon img {
        width: 100%;
    }

    .authorization {
        display: grid;
        position: absolute;
        grid-template-columns: repeat(1, 425px);
        align-self: center;
        justify-self: center;
        height: 70px;
        margin-top: 20%;
    }

    .titAuth {
        display: grid;
        font-size: 30px;
        grid-auto-rows: minmax(50px, auto);
        padding-left: 20px;
        align-items: center;
        background-color: #9c9c9c;
        text-transform: uppercase;
        font-family: 'Raleway Medium', serif;
    }

    .titLog {
        display: grid;
        font-size: 30px;
        padding-left: 20px;
        grid-auto-rows: minmax(100px, auto);
        color: white;
        background-color: #181818;
        text-transform: uppercase;
        font-family: 'Raleway ExtraLight', serif;
    }

    .titPass {
        display: grid;
        font-size: 30px;
        padding-left: 20px;
        height: 100px;
        color: white;
        background-color: #181818;
        text-transform: uppercase;
        font-family: 'Raleway ExtraLight', serif;
    }


    input {
        font-size: 30px;
        padding-left: 20px;
        width: 100%;
        height: 90px;
        border: none;
        color: white;
        background-color: #000000;
        text-transform: uppercase;
        font-family: 'Raleway Medium', serif;
    }

    .add {
        padding-left: 20px;
        display: grid;
        color: white;
        grid-template-columns: repeat(1, 2fr 1fr);
        grid-auto-rows: minmax(180px, auto);
        background-color: #181818;
        font-family: 'Raleway ExtraLight', serif;
    }

    .add .b1  {
        padding-left: 0;
        border: none;
        background-color: #181818;
        text-align: left;
        width: 180px;
        text-decoration: blink;
        color: white;
        font-size: 25px;
        font-family: "Raleway ExtraLight", serif;
    }

    .add .b2 {
        font-size: 25px;
        font-family: "Raleway ExtraLight", serif;
        align-self: center;
        color: white;
        border: none;
        height: 100px;
        background-color: #181818;
        text-transform: uppercase;
        margin-right: 20px;
    }
}

@media screen and (max-width: 375px) {
    .Fon img {
        width: 100%;
    }

    .title span:nth-child(1) {
        text-transform: uppercase;
        color: white;
        font-size: 35px;
    }

    .title span:nth-child(3) {
        text-transform: uppercase;
        color: white;
        font-size: 15px;
    }

    .title span:nth-child(5) {
        text-transform: uppercase;
        color: white;
        font-size: 10px;
    }

    .authorization {
        display: grid;
        position: absolute;
        grid-template-columns: repeat(1, 375px);
        align-self: center;
        justify-self: center;
        height: 35px;
        margin-top: 20%;
    }

    .titAuth {
        display: grid;
        font-size: 15px;
        grid-auto-rows: minmax(25px, auto);
        padding-left: 10px;
        align-items: center;
        background-color: #9c9c9c;
        text-transform: uppercase;
        font-family: 'Raleway Medium', serif;
    }

    .titLog {
        display: grid;
        font-size: 15px;
        padding-left: 10px;
        grid-auto-rows: minmax(50px, auto);
        color: white;
        background-color: #181818;
        text-transform: uppercase;
        font-family: 'Raleway ExtraLight', serif;
    }

    .titPass {
        display: grid;
        font-size: 15px;
        padding-left: 10px;
        height: 50px;
        color: white;
        background-color: #181818;
        text-transform: uppercase;
        font-family: 'Raleway ExtraLight', serif;
    }


    input {
        font-size: 15px;
        padding-left: 10px;
        width: 100%;
        height: 45px;
        border: none;
        color: white;
        background-color: #000000;
        text-transform: uppercase;
        font-family: 'Raleway Medium', serif;
    }

    .add {
        padding-left: 10px;
        display: grid;
        color: white;
        grid-template-columns: repeat(1, 2fr 1fr);
        grid-auto-rows: minmax(90px, auto);
        background-color: #181818;
        font-family: 'Raleway ExtraLight', serif;
    }

    .add .b1  {
        padding-left: 0;
        border: none;
        background-color: #181818;
        text-align: left;
        width: 100px;
        text-decoration: blink;
        color: white;
        font-size: 15px;
        font-family: "Raleway ExtraLight", serif;
    }

    .add .b2 {
        font-size: 15px;
        font-family: "Raleway ExtraLight", serif;
        align-self: center;
        color: white;
        border: none;
        height: 100px;
        background-color: #181818;
        text-transform: uppercase;
        margin-right: 20px;
    }

}