.accordionStatistic__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.accordionStatistic {
    background-color: #f1763a;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordionStatistic__title {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-auto-rows: minmax(130px, auto);
}

.accordionStatistic__title img  {
    align-self: center;
    justify-self: right;
    margin-right: 90px;
}

.accordionStatistic__title span:nth-child(1)  {
    font-family: DINPro-CondensedMedium, serif;
    text-transform: uppercase;
    font-size: 60px;
    align-self: center;
    justify-self: center;
    color: #000;
}

.accordionStatistic__content {
    background-color: black;
    overflow: hidden;
    transition: max-height 0.6s ease;
    max-height: 0;
}

.Statistic {
    display: grid;
    margin-top: 90px;
    margin-bottom: 60px;
}

.coupleStatistic1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 2fr );
    grid-auto-rows: minmax(160px, auto);
    align-self: center;
}

.coupleStatistic1 span:nth-child(1) {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.coupleStatistic1 span:nth-child(2) {
    font-family: DIN2014-DemiBold, serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.BI1 {
    display: grid;
    justify-content: right;
}

.BI1 button {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    color: white;
    border: medium none;
    background: transparent none;
    text-decoration: blink;
    height: 20px;
}

.BI1 img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
}

.coupleStatistic2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 2fr );
    grid-auto-rows: minmax(160px, auto);
    align-self: center;
}

.coupleStatistic2 span:nth-child(1) {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.coupleStatistic2 span:nth-child(2) {
    font-family: DIN2014-DemiBold, serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.BI2 {
    display: grid;
    justify-content: right;
}

.BI2 button {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    color: white;
    border: medium none;
    background: transparent none;
    text-decoration: blink;
    height: 20px;
}

.BI2 img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
}

.coupleStatistic3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 2fr );
    grid-auto-rows: minmax(160px, auto);
    align-self: center;
}

.coupleStatistic3 span:nth-child(1) {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.coupleStatistic3 span:nth-child(2) {
    font-family: DIN2014-DemiBold, serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.BI3 {
    display: grid;
    justify-content: right;
}

.BI3 button {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    color: white;
    border: medium none;
    background: transparent none;
    text-decoration: blink;
    height: 20px;
}

.BI3 img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
}

@media screen and (max-width: 425px) {
    .accordionStatistic__section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .accordionStatistic {
        background-color: #f1763a;
        color: #444;
        cursor: pointer;
        padding: 18px;
        border: none;
        outline: none;
        transition: background-color 0.6s ease;
    }

    .accordionStatistic__title {
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr);
        grid-auto-rows: minmax(75px, auto);
    }

    .accordionStatistic__title img  {
        align-self: center;
        justify-self: right;
        margin-right: 45px;
    }

    .accordionStatistic__title span:nth-child(1)  {
        font-family: DINPro-CondensedMedium, serif;
        text-transform: uppercase;
        font-size: 30px;
        align-self: center;
        justify-self: center;
        color: #000;
    }

    .accordionStatistic__content {
        background-color: black;
        overflow: hidden;
        transition: max-height 0.6s ease;
        max-height: 0;
    }

    .Statistic {
        display: grid;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .coupleStatistic1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr 2fr );
        grid-auto-rows: minmax(80px, auto);
        align-self: center;
    }

    .coupleStatistic1 span:nth-child(1) {
        font-family: DIN2014-ExtraLight, serif;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
    }

    .coupleStatistic1 span:nth-child(2) {
        font-family: DIN2014-DemiBold, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
    }

    .BI1 {
        display: grid;
        justify-content: right;
    }

    .BI1 button {
        font-family: DIN2014-ExtraLight, serif;
        font-size: 20px;
        color: white;
        border: medium none;
        background: transparent none;
        text-decoration: blink;
        height: 20px;
    }

    .BI1 img {
        width: 15px;
        height: 10px;
        margin-left: 10px;
    }

    .coupleStatistic2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr 2fr );
        grid-auto-rows: minmax(80px, auto);
        align-self: center;
    }

    .coupleStatistic2 span:nth-child(1) {
        font-family: DIN2014-ExtraLight, serif;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
    }

    .coupleStatistic2 span:nth-child(2) {
        font-family: DIN2014-DemiBold, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
    }

    .BI2 {
        display: grid;
        justify-content: right;
    }

    .BI2 button {
        font-family: DIN2014-ExtraLight, serif;
        font-size: 20px;
        color: white;
        border: medium none;
        background: transparent none;
        text-decoration: blink;
        height: 10px;
    }

    .BI2 img {
        width: 15px;
        height: 10px;
        margin-left: 10px;
    }

    .coupleStatistic3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr 2fr );
        grid-auto-rows: minmax(80px, auto);
        align-self: center;
    }

    .coupleStatistic3 span:nth-child(1) {
        font-family: DIN2014-ExtraLight, serif;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
    }

    .coupleStatistic3 span:nth-child(2) {
        font-family: DIN2014-DemiBold, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
    }

    .BI3 {
        display: grid;
        justify-content: right;
    }

    .BI3 button {
        font-family: DIN2014-ExtraLight, serif;
        font-size: 20px;
        color: white;
        border: medium none;
        background: transparent none;
        text-decoration: blink;
        height: 10px;
    }

    .BI3 img {
        width: 15px;
        height: 10px;
        margin-left: 10px;
    }
}
