.accordionStatisticT__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.accordionStatisticT {
    background-color: #beb53f;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordionStatisticT__title {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-auto-rows: minmax(130px, auto);
    color: #000;
}

.accordionStatisticT__title img  {
    align-self: center;
    justify-self: right;
    margin-right: 90px;
}

.accordionStatisticT__title span:nth-child(1)  {
    font-family: DINPro-CondensedMedium, serif;
    text-transform: uppercase;
    font-size: 60px;
    align-self: center;
    justify-self: center;
    color: #000;
}

.accordionStatisticT__content {
    background-color: black;
    overflow: hidden;
    transition: max-height 0.6s ease;
    max-height: 0;
}

.StatisticT {
    display: grid;
    margin-top: 90px;
    margin-bottom: 60px;
}

.coupleStatisticT1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 2fr );
    grid-auto-rows: minmax(160px, auto);
    align-self: center;
}

.coupleStatisticT1 span:nth-child(1) {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.coupleStatisticT1 span:nth-child(2) {
    font-family: DIN2014-DemiBold, serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.BIT1 {
    display: grid;
    justify-content: right;
}

.BIT1 button {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    color: white;
    border: medium none;
    background: transparent none;
    text-decoration: blink;
    height: 20px;
}

.BIT1 img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
}

.coupleStatisticT2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 2fr );
    grid-auto-rows: minmax(160px, auto);
    align-self: center;
}

.coupleStatisticT2 span:nth-child(1) {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.coupleStatisticT2 span:nth-child(2) {
    font-family: DIN2014-DemiBold, serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.BIT2 {
    display: grid;
    justify-content: right;
}

.BIT2 button {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    color: white;
    border: medium none;
    background: transparent none;
    text-decoration: blink;
    height: 20px;
}

.BIT2 img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
}

.coupleStatisticT3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 2fr );
    grid-auto-rows: minmax(160px, auto);
    align-self: center;
}

.coupleStatisticT3 span:nth-child(1) {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.coupleStatisticT3 span:nth-child(2) {
    font-family: DIN2014-DemiBold, serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.BIT3 {
    display: grid;
    justify-content: right;
}

.BIT3 button {
    font-family: DIN2014-ExtraLight, serif;
    font-size: 40px;
    color: white;
    border: medium none;
    background: transparent none;
    text-decoration: blink;
    height: 20px;
}

.BIT3 img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
}

