.reg {
    background-color: #141414;
    padding-top: 130px;
}

.headTit {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    font-family: "Raleway Medium", serif;
    padding-left: 70px;
}

.logRegImg {
    text-align: right;
    margin-right: 80px;
}

.titWrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    margin-bottom: 85px;
}

.colorText {
    font-family: "DINPro-Medium", serif;
    color: #d39c40;
    font-size: 50px;
    text-transform: uppercase;
}

.colorText p {
    font-size: 75px;
    text-transform: uppercase;
}

.sp2 {
    font-family: "DINPro", serif;
    margin-left: 20px;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.sp3 {
    font-family: "DINPro-Light", serif;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
}

.set {
    display: grid;
    color: white;
    background-color: #232323;
}

.setCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    font-family: DINPro, serif;
    background-color: #232323;
    padding-bottom: 110px;
}

.setCont input {
    font-family: "Raleway ExtraLight", serif;
    width: 25px;
    height: 25px;
}

.set span:nth-child(1) {
    padding-left: 70px;
    background-color: #232323;
    font-size: 30px;
    height: 70px;
    text-transform: uppercase;

}

.set span:nth-child(2) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set span:nth-child(3) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set span:nth-child(4) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set span:nth-child(5) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set span:nth-child(6) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set span:nth-child(7) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set span:nth-child(8) {
    padding-left: 70px;
    background-color: #232323;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

.set h1 {
    font-family: DINPro, serif;
    padding-left: 70px;
    font-size: 65px;
    text-transform: uppercase;
    padding-top: 65px;
    padding-bottom: 70px;
}



.set h2 {
    font-family: "DINPro-CondensedRegular", serif;
    padding-left: 70px;
    background-color: #f1c567;
    color: black;
    height: 70px;
    font-size: 35px;
    text-transform: uppercase;
    align-self: center;
}


.addRegMain form {
    display: grid;
    grid-template-columns: repeat(1, 3fr 1fr);
}

.titLogReg {
    display: grid;
    padding-left: 100px;
    height: 90px;
}

.titLogReg span {
    align-self: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-family: "Raleway ExtraLight", serif;
}

.titPassReg {
    display: grid;
    padding-left: 100px;
    height: 90px;
}

.titPassReg span {
    align-self: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-family: "Raleway ExtraLight", serif;
}


.titReg {
    display: grid;
    background-color: #f1c567;
    height: 55px;
    padding-left: 100px;
}

.titReg span {
    align-self: center;
    color: black;
    font-family: "Raleway Medium", serif;
    text-transform: uppercase;
    font-size: 30px;
}

.RegCont input {
    background-color: #f1c567;
    width: 100%;
    padding-left: 100px;
}

.addReg {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    color: #c8a455;
    padding-left: 100px;
}

.addReg span:nth-child(1) {
    font-family: "Raleway Medium", serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #f1c669;
    padding-top: 95px;

}

.addReg span:nth-child(2) {
    font-family: "Raleway ExtraLight", serif;
    font-size: 40px;
    color: white;
    padding-top: 95px;
    padding-left: 150px;
}

.addReg span:nth-child(3) {
    font-family: "Raleway ExtraLight", serif;
    font-size: 40px;
    color: white;
    padding-top: 95px;
    padding-bottom: 65px;
    padding-left: 100px;
    padding-right: 40px;
}

.addReg input {
    width: 25px;
    height: 25px;
}

.buttonReg {
    border: medium none;
    background-color: #262626;
}

.buttonReg span {
    text-align: center;
    font-family: "Raleway Medium", serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #f1c669;
}

.yellowStrip {
    background-color: #f1c669;
}

.yellowStrip span {
    visibility: hidden;
}

.foot button {
    border: medium none;
    background: transparent none;
    margin-left: 140px;
    padding-top: 330px;
    padding-bottom: 95px;

}

.foot span {
    text-align: center;
    padding-left: 35px;
    font-size: 55px;
    color: white;
    text-transform: uppercase;
    font-family: "DINPro-CondensedRegular", serif;
}

.foot p {
    font-family: DINPro, serif;
    margin-left: 90px;
    color: #505050;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

